<html>
    <head>
        <title>Shopping Cart - Delete Albums</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link rel="stylesheet" href="style.css"> -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <!-- <script src="main.js"></script> -->
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </head>
    <body onload="deleteDisplay();">
        <header>
            <nav>
                <ul>
                    <!-- <li><a href="../xml_viewer/index.html">XML Viewer</a></li> -->
                    <li><a href="/">XML Generator</a></li>
                </ul>
            </nav>
        </header>
        <div id="xslhead"></div>
        <hr>
        <!-- <button onclick="addInstance();">新增專輯</button>
        <button onclick="deleteInstance();">刪除專輯</button> -->
        <button><a href="/">Back to Main</a></button>
        <button onclick="deleteDisplay();">顯示結果</button>
        <button onclick="viewsrc();">檢視原始檔</button>
        <div id="others">
            <button><a href="/getTemplateXML">template資料 (xml)</a></button>
            <button><a href="/getOutputXML">生成資料 (xml)</a></button>
            <button><a href="/getDatabase">原始資料 (txt)</a></button>
            <button><a href="/getDatabase2">原始資料2 (txt)</a></button>
        </div>
        <hr>
        <h2>刪除專輯</h2>
        <!-- <div id="xform"></div> -->
        <div id="xmllist"></div>
        <footer>
            <p>GitHub <a href="https://github.com/chihyu0917">@chihyu0917</p>
        </footer>
    </body>
</html>
