<html>
    <head>
        <title>Shopping Cart - Generate XML File</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link rel="stylesheet" href="style.css"> -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <!-- <script src="main.js"></script> -->
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </head>
    <!-- <body onload="init();"> -->
    <body>
        <header>
            <nav>
                <ul>
                    <!-- <li><a href="../xml_viewer/index.html">XML Viewer</a></li> -->
                    <li><a href="/">XML Generator</a></li>
                </ul>
            </nav>
        </header>
        <div id="xslhead"></div>
        <hr>
        <!-- <button onclick="addInstance();">新增專輯</button>
        <button onclick="deleteInstance();">刪除專輯</button> -->
        <!-- <button><a href="index.html">Back to Main</a></button> -->
        <button><a href="/">Back to Main</a></button>
        <button onclick="viewsrc();">檢視原始檔</button>
        <div id="others">
            <!-- <button><a href="template.xml">template資料 (xml)</a></button>
            <button><a href="output.xml">生成資料 (xml)</a></button>
            <button><a href="database.txt">原始資料 (txt)</a></button>
            <button><a href="database2.txt">原始資料2 (txt)</a></button> -->
            <button><a href="/getTemplateXML">template資料 (xml)</a></button>
            <button><a href="/getOutputXML">生成資料 (xml)</a></button>
            <button><a href="/getDatabase">原始資料 (txt)</a></button>
            <button><a href="/getDatabase2">原始資料2 (txt)</a></button>
        </div>
        <hr>
        <h2>生成XML文件</h2>
        <form enctype="multipart/form-data">
            <input type="file" id="fileInput" onchange="readFile()">
            <button type="button" onclick="convertToJson()">Upload</button>
        </form>
        <div id="file-content"></div>
        <!-- <form id="file">
            <label for="file">請選擇檔案:</label>
            <input type="file" id="file" name="file" accept=".txt">
            <input type="submit">
        </form>
        <form action="generate.py" method="post">
            <input type="submit" value="Generate XML">
        </form> -->
        <!-- <form id="editForm">
            <label for="Singer">Singer:</label><br>
            <input type="text" id="Singer" name="Singer"><br>
            <label for="AlbumName">Album:</label><br>
            <input type="text" id="AlbumName" name="AlbumName"><br>
            <label for="AlbumImageURL">Album Image URL:</label><br>
            <input type="text" id="AlbumImageURL" name="AlbumImageURL"><br>
            <label for="AlbumPrice">Album Price:</label><br>
            <input type="text" id="AlbumPrice" name="AlbumPrice"><br>
            <input type="button" value="更新" onclick="submitForm();">
        </form> -->
        <!-- <hr> -->
        <!-- <div id="xform"></div> -->
        <!-- <div id="xmllist"></div> -->
        <footer>
            <p>GitHub <a href="https://github.com/chihyu0917">@chihyu0917</p>
        </footer>
    </body>
</html>
