body {
    font-family: 'Calluna', serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #E5BCBA;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
    background-image: url('bg.jpg'); 
    background-size: cover; 
    background-position: center; 
    color: rgb(113, 113, 113); 
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

main img {
    width: 30%;
    height: 30%;
}

main p {
    margin: 0 auto;
    max-width: 800px;
}

.resume {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
    padding: 20px;
}

.resume a {
    color: rgb(113, 113, 113);
}

.resume .header {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.resume img {
    max-width: 120px; 
    float: right; 
    margin-left: 10px; 
}

.resume section {
    margin-bottom: 20px;
}

.resume .personalInformation p a {
    color: rgb(113, 113, 113); 
}

.resume article {
    margin-bottom: 15px;
}

.resume ul {
    list-style-type: disc;
    margin-left: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #d1d1d1;
    padding: 8px;
    text-align: left;
}


svg #Sky {
    fill: #000224;
}

svg #Sun {
    fill: #F15200;
}

svg #Mercury {
    fill: #E79515;
}

svg #Venus {
    fill: #C64424;
}

svg #Earth {
    fill: #45C1F1;
}

svg #Mars {
    fill: #AA0901;
}

svg #Jupiter {
    fill: #D8BB72;
}

svg #Saturn {
    fill: #E19C51;
}

svg #SaturnRing {
    stroke: #FEC585;
}

svg #Uranus {
    fill: #047CC3;
}

svg #Neptune {
    fill: #0C86AD;
}

svg #Comet {
    fill: #fff;
}

svg #CometTail {
    fill: #fff;
}

img {
    width: 100px; 
    height: auto;
}


footer {
    text-align: center;
    padding: 20px 0;
    background: #7BA4BA;
    color: #fff;
}
footer p a{
    color: #fff;
}

@media screen and (max-width: 600px) {
    header nav ul li {
        display: block;
        margin: 10px 0;
    }
}
