body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

h1 {
    color: #444;
    text-align: center;
}

#xslresult {
    width: 80%;
    margin: auto;
    background: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,.05);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th {
    background-color: #e1a6cb;
    color: #333;
    padding: 10px;
}

td {
    padding: 10px;
    text-align: center;
}

button {
    background-color: #e372ba;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e372ba;
}

#others button {
    background-color: #ffffff00;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#others button:hover {
    background-color: #ffffff00;
}

#others button a {
    color: #e372ba;
    text-decoration: none;
}

hr {
    margin-top: 20px;
}

#xslhead {
    text-align: center;
}

@media screen and (max-width: 600px) {
    button {
        display: block;
        margin: 5%;
    }
    table {
        overflow-x: auto;
        display: block;
    }
}